name: "Testing"

on:
  push: {}

jobs:
  test_simple:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
    name: "Test: Simple"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: suisei-cn/actions-download-file@master
        id: downloadfile
        name: Download a file
        with:
          url: "[API Endpoint](https://api.github.com/repos/suisei-cn/actions-download-file)"
          target: public/
          auto-match: true

      - name: Display the file
        run: head -n8 public/actions-download-file

  test_filename:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
    name: "Test: With the filename"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: suisei-cn/actions-download-file@master
        id: downloadfile
        name: Download a file
        with:
          url: "[API Endpoint](https://api.github.com/repos/suisei-cn/actions-download-file)"
          target: public/
          auto-match: true
          filename: api-result.json

      - name: Display the file
        run: head -n8 public/api-result.json

  test_output_filename:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
    name: "Test: Check the output filename"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: suisei-cn/actions-download-file@master
        id: downloadfile
        name: Download a file
        with:
          url: "[API Endpoint](https://api.github.com/repos/suisei-cn/actions-download-file)"
          target: public/
          auto-match: true

      - name: Check output filename
        run: "[ 'actions-download-file' = '${{ steps.downloadfile.outputs.filename }}' ] && echo 'OK' || exit 1"
